.editContainer {
  max-width: 1050px;
  margin: 0 auto;
}

.editContainer h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  color: #001732;
  margin: 10px 0 30px;
}

.form {
  max-width: 300px;
}

.modalInput {
  background: #ffffff;
  border: 1px solid #93b8d9;
  border-radius: 100px !important;
  height: 48px;
}

.modal button {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border: none !important;
  color: #ffffff;
  background: #136eef;
}
